@font-face {
  font-family: my-cool-font;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  font-family: my-cool-font;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.side-bar-image {
  /* flex: 1 0 33%; */
  width: calc(100% - 66%);
  background-image: url(/assets/images/sidebg.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}
.main-content {
  /* flex: 2 0 66%; */
  width: calc(100% - 33%);
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  padding: 100px 0;
  height: 100%;
}
.header {
  padding: 70px 20px;
}
.main-header {
  font-size: 2rem;
  padding-bottom: 30px;
}
.sub-header {
  font-size: 1.5rem;
}
.card-container {
  padding: 50px 0;
}
.card {
  border: 2px solid silver;
  box-shadow: 0px 5px 7px silver;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 300px;
}
.go {
  font-size: 1.2rem;
  padding-bottom: 30px;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.col1,
.col2 {
  display: flex;
  flex-direction: column;
}
input {
  display: block;
}
